/* Home.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.header p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.login-options {
  display: flex;
  gap: 2rem;
}

.btn-landlord, .btn-tenant {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-landlord {
  background-color: #f2994a;
  color: white;
}

.btn-tenant {
  background-color: #B2E0D4;
  color: white;
}

.btn-landlord:hover, .btn-tenant:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
